section.indent-b100
  .container
    .row
      .col-12
        h1.h1-title Джинсы мужские
  .catalog-wrap
    .row.justify-content-center
      .col-lg-auto#catalog-start
        .catalog-menu-wrap
          .catalog-menu
            .catalog-menu__title Мужское
            .catalog-menu__wrap-list
              ul.catalog-menu__list
                li Одежда
                li
                  a(href="#") Брюки/Штаны
                li
                  a.active(href="#") Джинсы
                li
                  a(href="#") Жилетки
                li
                  a(href="#") Классические костюмы
                li
                  a(href="#") Кофты/Толстовки
                li
                  a(href="#") Куртки
                li
                  a(href="#") Пальто
                li
                  a(href="#") Пиджаки
                li
                  a(href="#") Пуховики/Парки
                li
                  a(href="#") Рубашки
                li
                  a(href="#") Спортивные костюмы
                li
                  a(href="#") Футболки/Поло
                li
                  a(href="#") Шорты
              ul.catalog-menu__list
                li Обувь
                li
                  a(href="#") Кеды/Кроссовки
                li
                  a(href="#") Мокасины
                li
                  a(href="#") Сланцы/Сандалии
                li
                  a(href="#") Туфли/Ботинки
              ul.catalog-menu__list
                li Аксессуары
                li
                  a(href="#") Бейсболки
                li
                  a(href="#") Ремни
                li
                  a(href="#") Сумки/Клатчи/Кошельки
                li
                  a(href="#") Шапки
      .col-lg
        .catalog
          .row
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans2", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans4", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans3", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
            .col-sm-6.col-md
              +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
        .row.justify-content-center
          .col-auto
            ul.catalog-dot
              li
                a.active(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li &#160;...&#160;
              li
                a(href="#") 12
          .w-100
          .col
            .title-bdb2.indent-t60
        .row.indent-t24
          .col-12.catalog-text-area
            span У многих людей брендовая одежда обязательно ассоциируется с высокими ценами. Обычно на деле так и есть, но только не в нашем интернет-магазине одежды Дисконт в Москве. У нас вы найдете широкий и пополняемый ассортимент стильных вещей, купить которые можно по небольшой цене. Пора развеять предубеждения о неподъемной стоимости брендовой продукции, и недорого обновить свой гардероб в нашем магазине Дисконт.
            br
            br
            h4.h4-title Большой выбор стильных вещей
            br
            span Магазин мужской одежды предлагает большой выбор стильных и современных вещей, которые подойдут для создания образа успешного мужчины, знающего толк в моде. На сайте магазина вы найдете множество разных категорий, каждая из которых представляет собой каталог с большим выбором вещей. Доступные товары:
            br
            br
            ul
              li Брюки, джинсы и штаны. Ассортимент вещей для низа различных размеров, стилей и расцветок.
              li Классические и спортивные костюмы. Предметы для серьезных мужчин и для ценителей спорта.
              li Жилетки и пиджаки. Вещи, при помощи которых можно изящно подчеркнуть собственный образ.
              li Кофты, толстовки, рубашки. Большой выбор размеров, оформлений и расцветок на любой вкус.
              li Футболки и поло. Вещи, которые подходят как подросткам, так и уже взрослым мужчинам.
              li Пуховики, парки и куртки. Зимняя мужская одежда, которая становится актуальной с приходом холодов.
  .row
    .col#catalog-end
