---
title: Card Product title
outClass: card-product
---
extends shared/_layout
block content

  include ../components/breadcrumbs/_breadcrumbs2.pug
  include ../components/card-product/_card-product.pug
  include ../components/see-also/_see-also.pug
