---
title: Homepage title
outClass: homepage
---
extends shared/_layout
block content

  include ../components/menu-horizontal/_menu-horizontal.pug
  include ../components/men-and-women/_men-and-women.pug
  include ../components/new-arrival/_new-arrival.pug
  include ../components/suitable-image/_suitable-image.pug
  include ../components/inst-slider/_inst-slider.pug
  include ../components/vk-group/_vk-group.pug
  include ../components/easy-with-us/_easy-with-us.pug
