section.indent-tb100
  .container
    .row.justify-content-between.indent-b20
      .col-auto
        h2.h2-title С нами легко
      .col-auto.align-self-end
        h3.h3-title Fashion Street’s
      .col-12
        .title-bdb
    .row.indent-b50
      .col-auto
        .easy-with-us-subtitle О наших преимуществах
    .row.justify-content-between.indent-b20
      .col-md-5.col-lg-auto
        .easy-with-us-big-text
          | Что важно для мужчин и <br>женщин при покупке одежды? 
      .col-md-7.col-lg-auto
        .easy-with-us-small-text
          | Конечно же качество, цена и сервис! Наш магазин работает для вас, опираясь на эти три кита.
      .col-12
        .title-bdb2
    .row.justify-content-between.indent-b20
      .col-md-5.col-lg-auto
        .easy-with-us-big-text
          | Отвечаем за качество товаров
      .col-md-7.col-lg-auto
        .easy-with-us-small-text
          | Гарантируем возврат, в случае, если вы считаете иначе. Без лишних слов. Поэтому можете приходить в наш шоурум, смотреть, примерять и покупать.
      .col-12
        .title-bdb2
    .row.justify-content-between.indent-b20
      .col-md-5.col-lg-auto
        .easy-with-us-big-text
          | Низкие цены без <br>потери качества
      .col-md-7.col-lg-auto
        .easy-with-us-small-text
          | Мы не содержим огромный штат ненужных сотрудников и консультантов, не арендуем огромные площади, а логистика просто безупречная. Поэтому цена на товары невысока.
        a.easy-with-us-link(href="#") Подробнее о магазине
      .col-12
        .title-bdb2
    .row.justify-content-between.indent-b20
      .col-md-5.col-lg-auto
        .easy-with-us-big-text
          | Доставим в любую <br>точку страны
      .col-md-7.col-lg-auto
        .easy-with-us-small-text
          | Доставка товаров осуществляется курьером по Москве и области в считанные часы. Если вы из другого города, то мы вышлем товар без какого-либо труда.
        a.easy-with-us-link(href="#") Доставка и оплата
      .col-12
        .title-bdb2