section.indent-b100
  .container
    .row
      .col
        h2.see-also-title Смотрите также
    .row.justify-content-between.see-also-wrap
      .col-auto
        +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
      .col-auto
        +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
      .col-auto
        +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
      .col-auto
        +item-slider-product("jeans1", "Джинсы Мужские зауженные", "S495", "2350 ₽")
