// FOOTER :: START
footer.footer.indent-tb85
  .container
    .row
      .col-12
        .footer-title Fashion Street’s
    .row.justify-content-between
      .col-6.col-md-4.col-lg-auto.footer-wrap
        .footer-address Москва, ул. Академика Королева, 44, к. 2
        .footer-wrap-info
          a.footer-info(href="tel:8 495 311 25 35") 8 495 311 25 35
          a.footer-info(href="mailto:Sales@fstreets.ru") Sales@fstreets.ru
        .footer-copyright © 2017-<span id="year"></span>&#160;&#160;Fashion Street’s
      .col-6.col-md-4.col-lg-auto
        ul.footer-list
          li
            a(href="#") Каталог
          li
            a(href="#") О магазине
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Блог
          li
            a(href="#") Контакты
        a.footer-link(href="#") Политика конфиденциальности
      .d-none.d-md-block.col-md-4.col-lg-auto
        div Присоединяйтесь к нам <br>в социальных сетях
        ul.footer-soc-list
          li
            a(href="#" target="_blank")
              +svgMono("vk")
          li
            a(href="#" target="_blank")
              +svgMono("inst")

// FOOTER :: END
