section.menu-horizontal
  .container
    .row.justify-content-between.align-items-center
      .col-auto
        a(href="#") Пальто и куртки
      .col-auto
        a(href="#") Джинсы и брюки
      .col-auto
        a(href="#") Кофты и толстовки
      .col-auto
        a(href="#") Рубашки
      .col-auto
        a(href="#") Футболки и поло
      .col-auto
        a(href="#") Кроссовки
      .col-auto
        a(href="#") Туфли и ботинки