section
  .container
    .row
      .col-12
        ul.breadcrumbs
          li
            a(href="#") Главная
          li
            a(href="#") Мужское
          li
            a(href="#") Джинсы
          li
            a(href="#") Джинсы Мужские зауженные
