section
  .container-fluide
    .row.no-gutters
      .col-sm-6.ovh
        a.men-and-women.l(href="#" style="background-image: url('img/men.jpg')")
          span Мужчинам
      .col-sm-6.ovh
        a.men-and-women.r(href="#" style="background-image: url('img/women.jpg')")
          span Женщинам