.ico-mono-basket {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-cross {
  width: 1em;
  height: 1em;
  fill: #909090;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-ico_human {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-inst {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-inst2 {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-logo {
  width: 1.94em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo_mob {
  width: 4.77em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-to_basket {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-vk {
  width: 1em;
  height: 1em;
  fill: #fff;
}
