section.indent-tb50
  .container
    .row
      .col-12
        h2.h2-title.inst-slider-title
          a(href="https://www.instagram.com/bngwearru/", target="_blank")
            +svgMono("inst2")
            | instagram.com/bngwearru
      .col-12.indent-t50
        .swiper-container.inst-slider(js-slider2)
          .swiper-wrapper
            .swiper-slide(style="background-image: url('img/inst1.jpg')")
            .swiper-slide(style="background-image: url('img/inst2.jpg')")
            .swiper-slide(style="background-image: url('img/inst3.jpg')")
            .swiper-slide(style="background-image: url('img/inst1.jpg')")
            .swiper-slide(style="background-image: url('img/inst2.jpg')")
            .swiper-slide(style="background-image: url('img/inst3.jpg')")
            .swiper-slide(style="background-image: url('img/inst1.jpg')")
          .swiper-pagination